@use "sass:map";
@use "defaults";

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
      $map: map.get($map, $key);
  }
  @return $map;
}

@mixin mq($breakpoint-list) {
	@each $mq-breakpoint in $breakpoint-list {
		@if map.has-key(defaults.$sfg-breakpoints, $mq-breakpoint) {
			$mq-breakpoint-min-width: map-deep-get(defaults.$sfg-breakpoints, $mq-breakpoint, "min-width");
			$mq-breakpoint-max-width: map-deep-get(defaults.$sfg-breakpoints, $mq-breakpoint, "max-width");

			@media screen and (min-width: #{$mq-breakpoint-min-width}) and (max-width: #{$mq-breakpoint-max-width}) {
				@content;
			}
		}
	}
}

@mixin mq-class($mq-breakpoint-min-width, $mq-breakpoint-max-width) {
	@media screen and (min-width: #{$mq-breakpoint-min-width}) and (max-width: #{$mq-breakpoint-max-width}) {
		@content;
	}
}
